@import url("fonts.css");

body{
    font-family:    Helvetica, Arial, sans-serif;
    height:         100%;
    margin:         0;
    color:          #333;
}

h1, h2{
    text-align:     center;
}

h1, h2, h3{
    text-transform: uppercase;
    font-weight:    normal;
}

h2{
    border-bottom:    2px solid #60252c;
    padding:          .83em;
}

form input, form select{
    height:           40px;
    border:           none;
    color:            inherit;
    font-size:        1.2em;
    padding:          8px;
    min-width:        0;
    background-color: white;
    margin:           0 0 20px;
}

form select{
    width:            100%;
}

form input[type=submit]{
    text-transform:   uppercase;
    margin:           0 auto;
}

form h4{
    text-align:       center;
}

.flexs{
    display:          flex;
    flex-wrap:        wrap;
    justify-content:  space-around;
}
