body{
    font-family:    Helvetica, Arial, sans-serif;
    height:         100%;
    margin:         0;
    color:          #888;
}

h1, h2{
    text-align:     center;
}

h1, h2, h3{
    text-transform: uppercase;
    font-weight:    normal;
}

form input, form select{
    height:           40px;
    border:           none;
    color:            inherit;
    margin:           0 5px 20px;
    font-size:        1.2em;
    padding:          8px;
    min-width:        0;
}

form .time{
    display:          flex;
    justify-content:  space-between;    
}

form .time input{
    text-align:       center;
    flex-grow:        1;
    flex-shrink:      1;
}

form .time input:not(:last-child){
    margin-right:     40px;
}

form select{
    width:            100%;
}

form input[type=submit]{
    text-transform:   uppercase;
    margin:           0 auto;
}
