#header{
    position:         absolute;
    width:            100%;
    background-color: #f8f8f8;
    display:          flex;
    align-items:      center;
    max-height:       90px;
}

#header .title{
    flex:             1;
}

h1{
    font-size:        1.4em;
    margin:           0;
}

#header .icon{
    padding:          20px;
}

#header .icon object{
    width:            50px;
    height:           50px;
    display:          block;
}

/* MENU */

.ddown{
    position:         relative;
}

.ddown .hide{
    position:         absolute;
}

.menu{
    width:            100vw;
    top:              100%;
    left:             0;
    background-color: #60252c;
    justify-content:  center;
}

.menu > div{
    display:          flex;
    flex-wrap:        wrap;
    padding:          4px;
    margin:           0 auto;
    list-style:       none inside;
    max-width:        1000px;
    justify-content:  right;
}

.menu > div > *{
    flex:             1 auto;
}

.mitem, .menu a{
    padding:          10px 18px;
    margin:           4px;
    background-color: #60252c;
    color:            #f8f8f8;
    text-align:       center;
    border:           1px solid #f8f8f8;
}

.mitem{
    user-select:      none;
}

.menu a{
    display:          block;
    text-decoration:  none;
}

.submenu{
    background-color: #60252c;
    min-width:        100%;
    right:            -4px;
    padding:          0 4px 4px;
    display:          flex;
    flex-direction:   column;
}

.search{
    top:              0;
    right:            0;
    padding:          20px;
    margin-right:     70px;
    background-color: #f8f8f8;
}

.search input{
    margin:           0;
    height:           34px;
}

/* MOBILE */

@media screen and (max-width: 768px){
    .menu > div{
        flex-direction: column;
    }
}

@media screen and (max-device-width: 768px){
    #header{
        position:       fixed;
    }

    .ddown.m:not(:hover) .hide:not(:focus-within){
        display:        none;
    }

    .mitem.d{
        display:        none;
    }
}

/* DESKTOP */

@media not screen and (max-device-width: 768px){
    .ddown.d:not(:hover) .hide:not(:focus-within){
        display:        none;
    }
    
    .icon.m object{
        visibility:     hidden;
    }

    .submenu a{
        margin:         -1px 4px;
    }
}
